* {

box-sizing:border-box;

margin:0;

padding:0;

font-family:"Segoe UI",Arial,sans-serif;

}



body {

min-height:100vh;

background:
linear-gradient(
135deg,
#1e1e2f,
#3a0d0d
);

display:flex;

justify-content:center;

align-items:center;

color:white;

padding:30px;

}




.container {

width:90%;

max-width:950px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border-radius:25px;

padding:50px;

box-shadow:
0 20px 50px rgba(0,0,0,.4);

border:
1px solid rgba(255,255,255,.15);

}





h1 {

text-align:center;

font-size:
clamp(45px,8vw,80px);

margin-bottom:40px;

background:
linear-gradient(
90deg,
#ff4b4b,
#ff9a9a
);

-webkit-background-clip:text;

color:transparent;

}




select,
button {

width:100%;

padding:16px;

margin-bottom:15px;

border-radius:15px;

border:none;

font-size:18px;

}





select {

background:
rgba(255,255,255,.1);

color:white;

}



select option {

background:#1e1e2f;

}





button {

background:

linear-gradient(
90deg,
#ff4b4b,
#ff7777
);

color:white;

cursor:pointer;

transition:.3s;

}





button:hover {

transform:
translateY(-5px);

box-shadow:
0 10px 25px rgba(255,75,75,.4);

}





.panel {

background:
rgba(255,255,255,.1);

padding:25px;

border-radius:20px;

margin-bottom:25px;

}




.progress {

height:30px;

background:
rgba(0,0,0,.35);

border-radius:20px;

overflow:hidden;

}





#bar {

height:100%;

width:0%;

background:

linear-gradient(
90deg,
#ff4b4b,
#ffaaaa
);

transition:.7s;

}




#stats {

margin-top:15px;

text-align:center;

color:
rgba(255,255,255,.7);

font-size:18px;

}




.card {

background:

rgba(255,255,255,.1);

padding:25px;

border-radius:20px;

margin-bottom:20px;

border-left:
6px solid transparent;

transition:.3s;

overflow-wrap:break-word;

}




.card:hover {

transform:
translateY(-5px);

background:

rgba(255,255,255,.18);

}




.card h2 {

font-size:30px;

margin-bottom:15px;

}




.card p {

margin-top:10px;

font-size:18px;

line-height:1.5;

color:
rgba(255,255,255,.8);

}




.card button {

margin-top:25px;

margin-bottom:0;

}





.Common {

border-left-color:#aaa;

}



.Rare {

border-left-color:#4b9cff;

}



.Epic {

border-left-color:#b14cff;

}



.Legendary {

border-left-color:#ffb000;

}





.locked {

opacity:.45;

filter:grayscale(.8);

}



.completed {

background:

rgba(0,255,120,.12);

}





footer {

margin-top:30px;

text-align:center;

color:
rgba(255,255,255,.5);

}



@media(max-width:700px){

.container{

padding:25px;

}

.card h2{

font-size:22px;

}

}