## Settings file was created by plugin BepInEx.SplashScreen v3.0
## Plugin GUID: BepInEx.SplashScreen.Patcher

[General]

## Display a splash screen with information about game load progress on game start-up.
# Setting type: Boolean
# Default value: true
Enabled = true

## Only display the splash screen if the logging console is turned off.
# Setting type: Boolean
# Default value: true
OnlyNoConsole = true

## Automatically rename the splash .exe file to GameName.SplashScreen.GUI.dll to prevent Discord from mistaking the game as a different game.
# Setting type: Boolean
# Default value: true
RenameExe = true

