## Settings file was created by plugin Crafting Time Modifier v1.0.2
## Plugin GUID: com.reverie.craftingtimemodifier

[CraftTimes]

## Comma separated. TechType=seconds.
# Setting type: String
# Default value: 
Overrides = tank=60, doubletank=60, fins=30, radiationsuit=120, reinforceddivesuit=120, waterfiltrationsuit=120, firstaidkit=15, fireextinguisher=15, rebreather=30, compass=15, scanner=60, welder=60, flashlight=30, knife=15, divereel=60, airbladder=15, builder=60, stasisrifle=120, propulsioncannon=120, ledlight=30, seaglide=120, constructor=180, beacon=30, smallstorage=15, gravsphere=60, titanium=15, titaniumingot=30, fibermesh=15, silicone=15, glass=15, lubricant=15, enameledglass=30, plasteelingot=30, hydrochloricacid=15, benzene=15, aramidfibers=30, aerogel=30, polyaniline=30, copperwire=15, battery=30, powercell=30, computerchip=30, wiringkit=15, advancedwiringkit=30, reactorrod=60, precursorionbattery=60, precursorionpowercell=60, heatblade=30, plasteeltank=120, highcapacitytank=180, ultraglidefins=60, swimchargefins=120, repulsioncannon=120, vehiclearmorplating=60, vehiclepowerupgrademodule=60, vehiclestoragemodule=30, vehiclehullmodule1=60, seamothsolarcharge=60, seamothelectricaldefense=60, seamothtorpedomodule=60, seamothsonarmodule=60, exohullmodule1=120, exosuitthermalreactormodule=120, exosuitjetupgrademodule=120, exosuitpropulsionarmmodule=120, exosuitgrapplingarmmodule=120, exosuitdrillarmmodule=120, exosuittorpedoarmmodule=120, whirlpooltorpedo=15, gastorpedo=15, cyclopshullmodule1=180, powerupgrademodule=180, cyclopsthermalreactormodule=180, cyclopssonarmodule=180, cyclopsfiresuppressionmodule=180, cyclopsseamothrepairmodule=180, cyclopsdecoymodule=180, cyclopsshieldmodule=180, vehiclehullmodule2=60, vehiclehullmodule3=60, exohullmodule2=120, cyclopshullmodule2=180, cyclopshullmodule3=180, maproomhudchip=60, maproomcamera=60, maproomupgradescanrange=30, maproomupgradescanspeed=30, seamoth=120, exosuit=240, cyclops=360, lasercutter=60

[Power]

## Power drained per second while a fabricator is actively crafting. Set to 0 to disable.
# Setting type: Single
# Default value: 1
PowerPerSecond = 1

## Fabrication pauses when available base power falls below this value.
# Setting type: Single
# Default value: 1
PauseThreshold = 1

## A paused fabricator will not resume until base power is at or above this value. Set higher than PauseThreshold.
# Setting type: Single
# Default value: 5
ResumeThreshold = 5

[Refabricate]

## Key or button to press while looking at a fabricator to immediately re-craft the last item.
## Keyboard: use key names from UnityEngine.InputSystem.Key, e.g. R, G, H, F1, Tab, Space.
## Controller: use gamepad button names, e.g. buttonSouth, buttonNorth, buttonEast, buttonWest,
##   leftShoulder, rightShoulder, leftTrigger, rightTrigger, leftStickButton, rightStickButton,
##   start, select, dpadUp, dpadDown, dpadLeft, dpadRight.
# Setting type: String
# Default value: R
Key = R

