## Settings file was created by plugin SubnauticaModManager for BepInEx v1.2.4
## Plugin GUID: com.lee23.subnauticamodmanager

[Interface settings]

# Setting type: Color
# Default value: FFFFFFFF
Installed mod button color = FFFFFFFF

# Setting type: Color
# Default value: FFFFFF4C
Uninstalled mod button color = FFFFFF4C

