## Settings file was created by plugin Stacking Complot69 Sync v1.1
## Plugin GUID: com.Complot69.virtualstack

[General]

## Define el máximo de items extra por stack
# Setting type: Int32
# Default value: 4
MaxStackSize = 4

