## Settings file was created by plugin Grapple Item Pickup v2.1.3
## Plugin GUID: Indigocoder.GrappleItemPickup

[Grapple Item Pickup Options]

# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: Boolean
# Default value: false
Write Logs = false

## How close to the grappling arm an item needs to be before it's picked up
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 3
Pickup Distance = 1.5

