## Settings file was created by plugin SNMoonpoolVehicleRepair v1.1.7
## Plugin GUID: SN.MoonpoolVehicleRepair

[General]

## Change this to change the amount it repairs.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 1 to 100
RepairAmount = 1

## Change this amount to up the charge amount.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 1 to 100
ChargeAmount = 1

## Amount multiplied to the energy charge amount to pull more power for faster speed.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 100
Multiplier = 1

