## Settings file was created by plugin Timestamp v3.0.1
## Plugin GUID: Tobey.BepInEx.Timestamp

[General]

## How long in milliseconds to wait for a response from each remote endpoint
# Setting type: Int32
# Default value: 1000
Timeout = 1000

[HTTP]

## Allow acquiring timestamp from HTTP endpoints
## When enabled, HTTP endpoints are used as a fallback if NTP endpoints failed or are disabled
# Setting type: Boolean
# Default value: true
Enabled = true

## Comma-separated list of HTTP endpoints for timestamp acquisition in descending order of preference
## The timestamp will be parsed from response's "date" header, which must be in the format:
## ddd, dd MMM yyyy HH:mm:ss GMT
## Example: Wed, 02 Oct 2024 12:09:25 GMT
# Setting type: String
# Default value: http://cloudflare.com, http://google.com, http://nist.gov
Endpoints = http://cloudflare.com, http://google.com, http://nist.gov

[NTP]

## Allow acquiring timestamp from NTP endpoints
## When enabled, NTP endpoints take precedence over HTTP endpoints
# Setting type: Boolean
# Default value: true
Enabled = true

## Comma-separated list of NTP endpoints for timestamp acquisition in descending order of preference
## Endpoints must be valid SNTP/NTP servers
## Endpoints should be in the format "address[:port]"
## The port is optional and defaults to 123 if not given
# Setting type: String
# Default value: time.cloudflare.com, pool.ntp.org:123, time.google.com, time.nist.gov
Endpoints = time.cloudflare.com, pool.ntp.org:123, time.google.com, time.nist.gov

